.idea
.ipynb_checkpoints
local_history.patch
__pycache__

# pip3 build data
*.egg-info

# c++ build data
contour_visualization/cmodule/build

# own stuff
private


# Sphinx documentation
docs/_build/
docs/src

*.html