[submodule "gtest"]
	path = gtest
	url = https://github.com/google/googletest.git
[submodule "iso_value_selection"]
	path = iso_value_selection
	url = https://github.com/asver12/iso_value_selection.git
	branch = custom_spacing
